extends layout

block content
  .row
    .col-md-12
      .row
        .col-md-4#detail
            .detailview
                #eventmeta
                    .row
                        .col-md-12
                            h3#event-title Lakemba
                            p#event-meta Sydney, 15. December 2015
                            p#event-description.small This is a paragraph with some text that gives a short overview of the event. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                #tweetview.hidden
                    .row
                        .col-md-2.avatar-wrapper &nbsp;
                            .avatar.avatar-custom &nbsp;
                            .avatar.avatar-default.desaturate &nbsp;
                        .col-md-10
                            p
                                strong.username Username
                                span &nbsp;
                                a.screenname(href="http://twitter.com/", target="_blank") @screenname
                                span.verified.hidden
                                br
                                span.time time
                                span.followercount
                            p.tweet Tweet
                    .retweetList.hidden
                        .row.retweetListHeader
                            .col-md-6.col-md-offset-2.small Screen Name
                            .col-md-4.small Followers
                        .retweetListBody
            #leaderboard
                table.table.table-striped
                    thead
                        tr
                            th.small.col-md-4 Screen Name
                            th.small.col-md-4 Username
                            th.small.col-md-4 Exposure
                    tbody.lbtablebody
        .col-md-8#master
                #spaghetti
                    .svgContainer
                    .controls.form-inline
                        .btn-group(data-toggle="buttons")
                            label.btn.btn-xs.btn-default.active(id='scale-linear') 
                                input(type='radio') 
                                | Linear
                            label.btn.btn-xs.btn-default(id='scale-log')
                                input(type='radio') 
                                | Log
                        input.form-control#placenameInput(type="text" onfocus="this.value = ''"  placeholder="Enter a location" value="Timezone: UTC")
                #legend
                    .svgContainer
                #stream
                    .svgContainer
                    .controls.form-inline
                        .btn-group.pick-stream-chart(role="group", "aria-label"="...")
                            button(type="button", class="btn btn-xs btn-default active", value="streamGraph") Volume Graph
                            button(type="button", class="btn btn-xs btn-default", value="areaGraph") Area Chart