extends layout

block content
  .row
    .col-md-12
      .row
        .col-md-8#master
            #stream
                .svgContainer
            #legend
                .svgContainer
            #spaghetti
                .svgContainer
                .controls.btn-group(data-toggle="buttons")
                    label.btn.btn-default.active(id='scale-linear') 
                        input(type='radio') 
                        | Linear
                    label.btn.btn-default(id='scale-log')
                        input(type='radio') 
                        | Log
        .col-md-4#detail
            #leaderboard.bg-text(data-bg-text="leaderboard")
            #tweetview
                p
                    strong.username Username
                    span &nbsp;
                    a.screenname(href="http://twitter.com/", target="_blank") @screenname
                    span.verified.hidden
                    br
                    span.time time
                p.tweet Tweet
                .avatar-wrapper &nbsp;
                    .avatar.avatar-custom &nbsp;
                    .avatar.avatar-default.desaturate &nbsp;