extends layout

block content
  .row
    .col-md-12
      // h1 Visualizing the Spread of Rumors on Twitter

      .row
        .col-md-8#master
            #stream.bg-text(data-bg-text="stream graph")
                .svgContainer
            #spaghetti
                .svgContainer
                .controls.btn-group(data-toggle="buttons")
                    label.btn.btn-default.active(id='scale-linear') 
                        input(type='radio') 
                        | Linear
                    label.btn.btn-default(id='scale-log')
                        input(type='radio') 
                        | Log
        .col-md-4#detail
            #leaderboard.bg-text(data-bg-text="leaderboard")
            #tweetlist.bg-text(data-bg-text="tweetlist")