extends layout

block content
  .row
    .col-md-12
      .row
        .col-md-8#master
            #stream
                .svgContainer
            #legend
                .svgContainer
            #spaghetti
                .svgContainer
                .controls.form-inline
                    .btn-group(data-toggle="buttons")
                        label.btn.btn-xs.btn-default.active(id='scale-linear') 
                            input(type='radio') 
                            | Linear
                        label.btn.btn-xs.btn-default(id='scale-log')
                            input(type='radio') 
                            | Log
                    input.form-control#placenameInput(type="text" onfocus="this.value = ''"  placeholder="Enter a location" value="Timezone: UTC")
        .col-md-4#detail
            #leaderboard
                table#lbtable
                    thead
                        tr
                            th.screenname Screen Name
                            th.username Username
                            th.score Score
                    tbody#lbtablebody
            #tweetview
                .row
                    .col-md-2.avatar-wrapper &nbsp;
                        .avatar.avatar-custom &nbsp;
                        .avatar.avatar-default.desaturate &nbsp;
                    .col-md-10
                        p
                            strong.username Username
                            span &nbsp;
                            a.screenname(href="http://twitter.com/", target="_blank") @screenname
                            span.verified.hidden
                            br
                            span.time time
                        p.tweet Tweet
                .retweet_list.hidden

