extends layout

block content
  .row#spaghetti
    .svgContainer
    .controls
        input(type='radio', name='scale-radio', id='scale-linear', value='true', data-bind='checked:isLinearScale.ForEditing')
        label(for='scale-linear') &nbsp;Linear
        br
        input(type='radio', name='scale-radio', id='scale-log', value='false', data-bind='checked:isLinearScale.ForEditing')
        label(for='scale-log') &nbsp;Log
        .col-md-11
            #tweetView
                strong.screen_name
                span.text
