extends layout

block content
  .row#spaghetti
    .svgContainer
    .controls.btn-group(data-toggle="buttons")
        label.btn.btn-default.active(id='scale-linear') 
            input(type='radio') 
            | Linear
        label.btn.btn-default(id='scale-log')
            input(type='radio') 
            | Log
        .col-md-11
            #tweetView
                strong.screen_name
                span.text
