svg {
	margin: 0 auto;
	font: 12px sans-serif;
	display: block;
}
#svgContainer {
	overflow: scroll;
}
.axis path,
.axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
}
.voronoi path {
  fill: none;
}
.scanline line {
	fill: none;
	stroke: #aaa;
	stroke-width: 1;
}
.tweet-hover {
    stroke-width: 4;
}