/* PARAMS
----------------------------------------*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #777;
  cursor: pointer; }

/* MIXINS
----------------------------------------*/
/* SPAGHETTI
----------------------------------------*/
#spaghetti {
  position: relative; }
  #spaghetti svg {
    margin: 0 auto;
    font: 12px sans-serif;
    display: block; }
  #spaghetti .svgContainer {
    overflow: scroll; }
  #spaghetti .controls {
    position: absolute;
    top: 4%;
    left: 11.5%; }
    #spaghetti .controls .btn-group, #spaghetti .controls input {
      margin-right: 5px; }
    #spaghetti .controls input {
      height: 22px;
      font-size: 12px;
      padding-left: 6px; }
  #spaghetti .axis path, #spaghetti .axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges; }
  #spaghetti .axis rect {
    fill: #fff; }
  #spaghetti .voronoi path {
    fill: none; }
  #spaghetti .tweet-hover {
    stroke-width: 4; }

/* STREAM
----------------------------------------*/
#stream {
  position: relative;
  height: 150px;
  width: 100%; }
  #stream .svgContainer {
    width: 100%; }
    #stream .svgContainer .line {
      fill: none;
      stroke: #000;
      stroke-width: 2px; }
    #stream .svgContainer .viewport {
      stroke: #888;
      fill: #000;
      fill-opacity: 0.2; }
  #stream .axis path, #stream .axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges; }

/* LEGEND
----------------------------------------*/
#legend {
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 10px; }

/* LEADERBOARD
----------------------------------------*/
#leaderboard {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #eee;
  margin-bottom: 20px; }

/* TWEETVIEW
----------------------------------------*/
#tweetview {
  width: 100%;
  height: 265px;
  background-color: #F7F7F7;
  padding: 12px 0; }
  #tweetview .username {
    display: inline;
    font-size: 16px; }
  #tweetview .time {
    font-size: 12px; }
  #tweetview .avatar-wrapper {
    position: relative; }
  #tweetview .avatar {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 25px;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaa; }
  #tweetview .avatar-default {
    z-index: 0;
    background-image: url('http://a0.twimg.com/sticky/default_profile_images/default_profile_6_normal.png'); }
  #tweetview .avatar-custom {
    z-index: 100; }
  #tweetview .desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  #tweetview .verified {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin-left: 3px;
    line-height: -10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/verified.png'); }
  #tweetview .retweet_list {
    position: absolute;
    bottom: 0;
    height: 130px;
    width: 93%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.05);
    border-top: 1px solid #888;
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4); }
    #tweetview .retweet_list .row {
      margin: 3px 0; }

/* SCRATCH -- only for development
----------------------------------------*/
.bg-text {
  background-color: #aaa;
  overflow: hidden;
  position: relative;
  width: 400px; }

.bg-text::after {
  color: #fff;
  content: attr(data-bg-text);
  display: block;
  font-size: 50px;
  line-height: 1;
  position: absolute;
  bottom: 0px;
  right: 10px; }
