/* PARAMS
----------------------------------------*/

$primary-color: #00B7FF;
$link-color: #777;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $link-color;
  cursor: pointer;
}

/* MIXINS
----------------------------------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


/* SPAGHETTI
----------------------------------------*/

#spaghetti {
	position: relative;
	
	svg {
		margin: 0 auto;
		font: 12px sans-serif;
		display: block;
	}

	.svgContainer {
		overflow: scroll;
	}

	.controls {
		position: absolute;
		top: 10px;
		left: 100px;
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: #888;
	    shape-rendering: crispEdges;
	}
	.voronoi path {
	  fill: none;
	}
	.clock rect {
		fill: none;
		stroke: #bbb;
	}
	.clock line {
		stroke: #bbb;
		stroke-width: 1;
	}
	.clock text {
		fill: #333;
	}
	.tweet-hover {
	    stroke-width: 4;
	}
}

/* STREAM
----------------------------------------*/

#stream {
	position: relative;
	height: 150px;
	width: 100%;

	.svgContainer {
		width: 100%;

		.line {
		  fill: none;
		  stroke: #000;
		  stroke-width: 2px;
		}
	}

}


/* SPAGHETTI
----------------------------------------*/

#spaghetti {
	position: relative;
	
	svg {
		margin: 0 auto;
		font: 12px sans-serif;
		display: block;
	}

	.svgContainer {
		overflow: scroll;
	}

	.controls {
		position: absolute;
		top: 20px;
		left: 100px;
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: #888;
	    shape-rendering: crispEdges;
	}
	.voronoi path {
	  fill: none;
	}
	.clock rect {
		fill: none;
		stroke: #bbb;
	}
	.clock line {
		stroke: #bbb;
		stroke-width: 1;
	}
	.clock text {
		fill: #333;
	}
	.tweet-hover {
	    stroke-width: 4;
	}
}

/* LEADERBOARD
----------------------------------------*/

#leaderboard {
	position: relative;
	width: 100%;
	height: 350px;
	background-color: #eee;
	margin-bottom: 20px;
}

/* TWEETLIST
----------------------------------------*/

#tweetview {
	position: relative;
	width: 100%;
	height: 250px;
	padding: 18px 10px 10px 75px;
	background-color: #F7F7F7;

	.username {
		display: inline;
		font-size: 16px;
	}
	.time {
		font-size: 12px;
	}
	.avatar {
		position: absolute;
		width: 48px;
		height: 48px;
		top: 20px;
		left: 15px;
		background-size: cover;
		background-position: center;
		@include border-radius(5px);
		border: 1px solid #aaa;
	}
	.verified {
		position: absolute;
		width: 14px;
		height: 14px;
		top: 16px;
		left: 55px;
		background-color: $primary-color;
		@include border-radius(7px);
	}
}

/* SCRATCH -- only for development
----------------------------------------*/

.bg-text {
    background-color: #aaa;
    overflow: hidden;
    position: relative;
    width: 400px;
}
.bg-text::after {
    color: #fff;
    content: attr(data-bg-text);
    display: block;
    font-size: 50px;
    line-height: 1;
    position: absolute;
    bottom: 0px;
    right: 10px;
}