/* PARAMS
----------------------------------------*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #777;
  cursor: pointer; }

/* MIXINS
----------------------------------------*/
/* SPAGHETTI
----------------------------------------*/
#spaghetti {
  position: relative; }
  #spaghetti svg {
    margin: 0 auto;
    font: 12px sans-serif;
    display: block; }
  #spaghetti .svgContainer {
    overflow: scroll; }
  #spaghetti .controls {
    position: absolute;
    top: 20px;
    left: 100px; }
  #spaghetti .axis path, #spaghetti .axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges; }
  #spaghetti .axis rect {
    fill: #fff; }
  #spaghetti .voronoi path {
    fill: none; }
  #spaghetti .tweet-hover {
    stroke-width: 4; }

/* STREAM
----------------------------------------*/
#stream {
  position: relative;
  height: 150px;
  width: 100%; }
  #stream .svgContainer {
    width: 100%; }
    #stream .svgContainer .line {
      fill: none;
      stroke: #000;
      stroke-width: 2px; }
    #stream .svgContainer .viewport {
      stroke: #888;
      fill: #000;
      fill-opacity: 0.2; }

/* LEGEND
----------------------------------------*/
#legend {
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 10px; }

/* LEADERBOARD
----------------------------------------*/
#leaderboard {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #eee;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 10px; }

#lbtable {
  margin: 5px;
  width: 100%; }

#lbtable td {
  padding: 3px; }

.username {
  width: 50%; }

.screenname {
  width: 30%; }

.score {
  width: 20%; }

/* TWEETVIEW
----------------------------------------*/
#tweetview {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 18px 10px 10px 75px;
  background-color: #F7F7F7; }
  #tweetview .username {
    display: inline;
    font-size: 16px; }
  #tweetview .time {
    font-size: 12px; }
  #tweetview .avatar {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 20px;
    left: 15px;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaa; }
  #tweetview .avatar-default {
    z-index: 0;
    background-image: url('http://a0.twimg.com/sticky/default_profile_images/default_profile_6_normal.png'); }
  #tweetview .avatar-custom {
    z-index: 100; }
  #tweetview .verified {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 15px;
    left: 56px;
    background-color: #00B7FF;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    z-index: 150; }

/* SCRATCH -- only for development
----------------------------------------*/
.bg-text {
  background-color: #aaa;
  overflow: hidden;
  position: relative;
  width: 400px; }

.bg-text::after {
  color: #fff;
  content: attr(data-bg-text);
  display: block;
  font-size: 50px;
  line-height: 1;
  position: absolute;
  bottom: 0px;
  right: 10px; }
